
// Fonts.
$main-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$accent-font: 'Patua One', Georgia, 'Times New Roman', Times, serif;
$fancy-font: 'Libre Baskerville', Baskerville, 'Baskerville Old Face',
	'Hoefler Text', Garamond, 'Times New Roman', serif;
$code-font: monospace;

// Vertical rhythm / typography.

// Our default baseline font size is 16px with a line height of 32px.  You can
// change that here.
$base-font-size: 1rem;

// No units on our line height!
$base-line-height: 2;